body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  box-sizing: content-box;
  background-color: blueviolet;
}

#root {
  height: 100%;
}

main { height: 100%; display: flex; align-items: center; justify-content: center; }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
